<header [ngClass]="{'navi_scrolled': isScrolled}">
    <div class="container">
        <div class="head">
            <a class="logo" routerLink="/home">YoGA</a>
            <div class="nav">
                <a routerLink="/home" routerLinkActive="active">Home</a>
                <a routerLink="/about" routerLinkActive="active">About</a>
                <a routerLink="/gallery" routerLinkActive="active">Gallery</a>
                <a routerLink="/contact" routerLinkActive="active">Contact</a>
            </div>
        </div>      
    </div>   
</header>
