footer{
    background-color: #3e3039;
    display: flex; 
    padding-top: 80px;
    position: sticky;
    bottom: 0;
    z-index: -1;
    .footer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column ;
        .nav {
            a {
                color: #878a9a; // Default link color
                text-decoration: none; // Remove default underline
                font-family: 'Satoshi-Medium';
                padding: 10px 15px;
                font-size: 14px;
                &:hover {
                    color: #cd7399; // Change link color on hover
                }

            }
        }
        .social{
            margin-top: 25px;
            margin-bottom: 50px;
            a{
                margin:5px;
            }
        }
        .copy{
            color: #878a9a;  
            font-size: 12px;
        }
    }
}