<div class="main-div">
  <div class="about">
    <div class="container about-sec">
        <h2>Contacts</h2>
    </div>
</div>
  <div class="container">
    <div class="contact">
       <div class="contact-left">
        <h2>888 Broadway</h2>
        <p>New York, NY, 18813</p>
        <span>info@bhavana.com</span>
        <span>123-123-1234</span>
       </div>
       <div class="contact-right">
        <h2>Contact Us</h2>
        <form #form="ngForm" (ngSubmit)="sendEmail()" >
          <input class="form-control" type="text" name="name" ngModel placeholder="Name" required>
          <input class="form-control" type="email" name="email" ngModel placeholder="Email" required>
          <textarea class="form-control" name="message" ngModel placeholder="Message" required></textarea>
          <button class="form-control" type="submit">Send</button>
        </form>
       </div>
    </div>    
  </div>
</div> 