<div class="main-div">
    <div class="about">
        <div class="container about-sec">
            <h2>About</h2>
        </div>
    </div>
    <div class="middle-div">
        <div class="container">
            <div class="about-main">
                <div class="left-about">
                    <img src="assets/images/yoga-about.jpg" alt="first slide">
                </div>
                <div class="right-about">
                    <h2>Yoga Fit Studios</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla diam nunc, a porta massa commodo a. Maecenas tincidunt lacinia ex vel rutrum. Nam convallis molestie turpis eget pretium. Sed dignissim quam at egestas iaculis. Nulla facilisi. Nunc non felis ac turpis dictum consectetur. Suspendisse sit amet erat et tellus porttitor tincidunt in sed purus. Morbi nec dignissim erat, nec tempus dui. Quisque tincidunt magna sem, sed aliquam felis pharetra vitae.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="reasons-div">
        <div class="container">
          <h2>Reasons To Try YogaFit Studios</h2>
          <div class="reasons-list">
              <div class="reasons-sub">
                <h3>Something For Everyone</h3>
                <p>Aenean a diam pulvinar, convallis diam eget, mollis lorem. Mauris felis neque, tempus a scelerisque in, ultrices non velit.</p>
              </div>
              <div class="reasons-sub">
                <h3>Something For Everyone</h3>
                <p>Aenean a diam pulvinar, convallis diam eget, mollis lorem. Mauris felis neque, tempus a scelerisque in, ultrices non velit.</p>
              </div>
              <div class="reasons-sub">
                <h3>Something For Everyone</h3>
                <p>Aenean a diam pulvinar, convallis diam eget, mollis lorem. Mauris felis neque, tempus a scelerisque in, ultrices non velit.</p>
              </div>
              <div class="reasons-sub">
                <h3>Something For Everyone</h3>
                <p>Aenean a diam pulvinar, convallis diam eget, mollis lorem. Mauris felis neque, tempus a scelerisque in, ultrices non velit.</p>
              </div>
              <div class="reasons-sub">
                <h3>Something For Everyone</h3>
                <p>Aenean a diam pulvinar, convallis diam eget, mollis lorem. Mauris felis neque, tempus a scelerisque in, ultrices non velit.</p>
              </div>
              <div class="reasons-sub">
                <h3>Something For Everyone</h3>
                <p>Aenean a diam pulvinar, convallis diam eget, mollis lorem. Mauris felis neque, tempus a scelerisque in, ultrices non velit.</p>
              </div>
          </div>        
        </div>
      </div>
</div>