<div class="main-div">
  <div class="container">
    <div class="gallery-main">
      <div *ngIf="showPopup" class="popup-overlay" (click)="closePopup()">
        <div class="popup-content">
         
          <img [src]="imgSrc" alt="Full-size image">
        </div>
      </div>
      <div class="gallery">
        <div class="image" *ngFor="let image of images" >
          <img [src]="image.src" alt="Image {{ image.id }}" (click)="openImage(image.src)" />
        </div>
      </div> 
    </div>    
  </div>
</div>
