<div class="main-div">
  <div class="carousel-div">
    <carousel>
      <slide>
        <img src="assets/images/bg1.jpg" alt="first slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
          <h3>Flexibility</h3>
          <p>for joyful living</p>
        </div>
      </slide>
      <slide>
        <img src="assets/images/bg2.jpg" alt="first slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
          <h3>Flexibility</h3>
          <p>for joyful living</p>
        </div>
      </slide>
      <slide>
        <img src="assets/images/bg3.jpg" alt="first slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block c-r">
          <h3>Flexibility</h3>
          <p>for joyful living</p>
        </div>
      </slide>
      <!-- <slide>
        <img src="assets/images/bg3.jpg" alt="third slide" style="display: block; width: 100%;">
      </slide> -->
    </carousel>
  </div>
  <div class="middle-div">
    <div class="container">
      <h2>Experience of Yoga</h2>
      <p>Yoga Fit is where you can find balance, harmony and energy renewal amidst the hectic bustle of everyday
        pressures and deadlines. Relax & enjoy a personalized day yoga experience in our comfortable sanctuary.</p>
      <div class="exp-div">
        <div class="exp-div-sub">
          <div class="exp-sub exp-sub1">
            <h3>Balance Body & Mind</h3>
            <p>Cum sociis natoque penatibus et magnis dis parturient montesmus. Pro vel nibh et elit</p>
          </div>
          <div class="exp-sub exp-sub1">
            <h3>Balance Body & Mind</h3>
            <p>Cum sociis natoque penatibus et magnis dis parturient montesmus. Pro vel nibh et elit</p>
          </div>
          <div class="exp-sub exp-sub1">
            <h3>Balance Body & Mind</h3>
            <p>Cum sociis natoque penatibus et magnis dis parturient montesmus. Pro vel nibh et elit</p>
          </div>
        </div>
        <div class="div-yoga">
          <img src="assets/images/yoga.jpg" alt="first slide">
        </div>
        <div class="exp-div-sub">
          <div class="exp-sub">
            <h3>Balance Body & Mind</h3>
            <p>Cum sociis natoque penatibus et magnis dis parturient montesmus. Pro vel nibh et elit</p>
          </div>
          <div class="exp-sub">
            <h3>Balance Body & Mind</h3>
            <p>Cum sociis natoque penatibus et magnis dis parturient montesmus. Pro vel nibh et elit</p>
          </div>
          <div class="exp-sub">
            <h3>Balance Body & Mind</h3>
            <p>Cum sociis natoque penatibus et magnis dis parturient montesmus. Pro vel nibh et elit</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="booking">
    <div class="container">
      <div class="booking-sub">
        <span class="start">Choose Your Classes and Start Your Training</span>
        <span class="booking">Booking Now</span>
      </div>
    </div>
  </div>
  <div class="classes">
    <div class="container">
      <h2>Our Classes</h2>
      <div class="classes-main">
        <div class="classes-sub">
          <div class="img-sec">
            <img src="assets/images/class1.jpg" alt="first slide">
          </div>
          <div class="info">
            <h3>Private & Group Lessons</h3>
            <p>19/05/15 - 01:00pm - 03:00pm</p>
          </div>
        </div>
        <div class="classes-sub">
          <div class="img-sec">
            <img src="assets/images/class2.jpg" alt="first slide">
          </div>
          <div class="info">
            <h3>Private & Group Lessons</h3>
            <p>19/05/15 - 01:00pm - 03:00pm</p>
          </div>
        </div>
        <div class="classes-sub">
          <div class="img-sec">
            <img src="assets/images/class3.jpg" alt="first slide">
          </div>
          <div class="info">
            <h3>Private & Group Lessons</h3>
            <p>19/05/15 - 01:00pm - 03:00pm</p>
          </div>
        </div>
        <div class="classes-sub">
          <div class="img-sec">
            <img src="assets/images/class4.jpg" alt="first slide">
          </div>
          <div class="info">
            <h3>Private & Group Lessons</h3>
            <p>19/05/15 - 01:00pm - 03:00pm</p>
          </div>
        </div>
        <div class="classes-sub">
          <div class="img-sec">
            <img src="assets/images/class5.jpg" alt="first slide">
          </div>
          <div class="info">
            <h3>Private & Group Lessons</h3>
            <p>19/05/15 - 01:00pm - 03:00pm</p>
          </div>
        </div>
        <div class="classes-sub">
          <div class="img-sec">
            <img src="assets/images/class6.jpg" alt="first slide">
          </div>
          <div class="info">
            <h3>Private & Group Lessons</h3>
            <p>19/05/15 - 01:00pm - 03:00pm</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-info">
    <carousel>
      <slide>
        <div class="container quote">
          <p> I will give you a complete account of the system, and expound the actual teachings of the great explorer of
            the
            truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is
            pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are
            extremely painful.
          </p>
          <div class="quote_title">
            <h3 class="quote_title">Isabella Clifford</h3>
            <span class="quote_subtitle">Neuropathology doctor</span>
          </div>
        </div>
      </slide>
      <slide>
        <div class="container quote">
          <p> I will give you a complete account of the system, and expound the actual teachings of the great explorer of
            the
            truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is
            pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are
            extremely painful.
          </p>
          <div class="quote_title">
            <h3 class="quote_title">Isabella Clifford</h3>
            <span class="quote_subtitle">Neuropathology doctor</span>
          </div>
        </div>
      </slide>
      <slide>
        <div class="container quote">
          <p> I will give you a complete account of the system, and expound the actual teachings of the great explorer of
            the
            truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is
            pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are
            extremely painful.
          </p>
          <div class="quote_title">
            <h3 class="quote_title">Isabella Clifford</h3>
            <span class="quote_subtitle">Neuropathology doctor</span>
          </div>
        </div>
      </slide>
      <!-- <slide>
            <img src="assets/images/bg3.jpg" alt="third slide" style="display: block; width: 100%;">
          </slide> -->
    </carousel>
  </div>
  <div class="trainer">
     <div class="container trainer-sec">
        <h2>Center your body and mind.</h2>
        <p>Stretch the possibilities.</p>
        <span>Mary Sheldon. Kundalini Trainer.</span>
     </div>
  </div>
  <div class="count">
    <div class="container">
      <div class="count-main">
        <div class="count-sub">
          <h3>100%</h3>
          <p>Quality</p>
        </div>
        <div class="count-sub">
          <h3>45</h3>
          <p>Years of experience</p>
        </div>
        <div class="count-sub">
          <h3>12</h3>
          <p>Prosessional Trainers</p>
        </div>
        <div class="count-sub">
          <h3>16</h3>
          <p>Classess</p>
        </div>
        <div class="count-sub">
          <h3>480</h3>
          <p>Members</p>
        </div>
      </div>
    </div>
  </div>
  <div class="classes">
    <div class="container">
      <h2>Yoga Shop</h2>
      <div class="shop-main">
        <div class="classes-sub">
          <div class="img-sec">
            <img src="assets/images/shop1.jpg" alt="first slide">
          </div>
          <div class="info">
            <h3>Tibetan Singing Bowls</h3>
            <p>£15.00</p>
          </div>
        </div>
        <div class="classes-sub">
          <div class="img-sec">
            <img src="assets/images/shop2.jpg" alt="first slide">
          </div>
          <div class="info">
            <h3>Cinnamon Handmade Soap</h3>
            <p>£15.00</p>
          </div>
        </div>
        <div class="classes-sub">
          <div class="img-sec">
            <img src="assets/images/shop3.jpg" alt="first slide">
          </div>
          <div class="info">
            <h3>Yoga Equipment</h3>
            <p>£15.00</p>
          </div>
        </div>
        <div class="classes-sub">
          <div class="img-sec">
            <img src="assets/images/shop4.jpg" alt="first slide">
          </div>
          <div class="info">
            <h3>Private & Group Lessons</h3>
            <p>£15.00</p>
          </div>
        </div>      
      </div>
    </div>
  </div>
  <div class="list">
    <div class="container">
        <div class="list-main">
          <div class="list-sub">
            <h3>Contact Info</h3>
            <p>
              888 Broadway<br>
              New York, NY, 18813<br>
              info@bhavana.com<br>
              123-123-1234
            </p>
          </div>
          <div class="list-sub">
            <h3>Open Hours</h3>
            <p>Monday 11am-7pm</p>
            <p>Tuesday-Friday 11am-8pm</p>
            <p>Saturday 10am-6pm</p>
            <p>Sunday 11am-6pm</p>
          </div>
          <div class="list-sub">
            <h3>Contact Info</h3>
            <ul>
              <li>Yoga’s Power to Cure Depression</li>
              <li>Tips For Getting Started</li>
              <li>Yoga Mistakes To Avoid</li>
              <li>6 Yoga Poses For Lower Back Pain</li>
              <li>The Best Yoga Poses To Relieve Soreness</li>
            </ul>
          </div>
         </div>
    </div>
  </div>
  <div class="event">
    <div class="container">
      <h2>Upcoming Events</h2>
      <div class="main-event">
        <div class="div-yoga">
          <img src="assets/images/girl.png" alt="first slide">
        </div>
        <div class="list-event">
          <div class="sub-event">
            <div class="event-left">
              <span class="event-one">NOV</span>
              <span class="event-two">26</span>
            </div>
            <div class="event-right">
              <span class="event-one">November 26, 2023 @ 8:00 am - April 24, 2025 @ 5:00 pm</span>
              <span class="event-two">Menla Mountain Retreat Center: Catskills, NY</span>
            </div>
          </div>
          <div class="sub-event">
            <div class="event-left">
              <span class="event-one">NOV</span>
              <span class="event-two">26</span>
            </div>
            <div class="event-right">
              <span class="event-one">November 26, 2023 @ 8:00 am - April 24, 2025 @ 5:00 pm</span>
              <span class="event-two">Menla Mountain Retreat Center: Catskills, NY</span>
            </div>
          </div>
          <div class="sub-event">
            <div class="event-left">
              <span class="event-one">NOV</span>
              <span class="event-two">02</span>
            </div>
            <div class="event-right">
              <span class="event-one">November 26, 2023 @ 8:00 am - April 24, 2025 @ 5:00 pm</span>
              <span class="event-two">Menla Mountain Retreat Center: Catskills, NY</span>
            </div>
          </div>
          <div class="sub-event">
            <div class="event-left">
              <span class="event-one">NOV</span>
              <span class="event-two">06</span>
            </div>
            <div class="event-right">
              <span class="event-one">November 26, 2023 @ 8:00 am - April 24, 2025 @ 5:00 pm</span>
              <span class="event-two">Menla Mountain Retreat Center: Catskills, NY</span>
            </div>
          </div>
          <div class="sub-event">
            <div class="event-left">
              <span class="event-one">NOV</span>
              <span class="event-two">15</span>
            </div>
            <div class="event-right">
              <span class="event-one">November 26, 2023 @ 8:00 am - April 24, 2025 @ 5:00 pm</span>
              <span class="event-two">Menla Mountain Retreat Center: Catskills, NY</span>
            </div>
          </div>
        </div>       
      </div>
    </div>
  </div>
</div>
